# Node modules
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# macOS system files
.DS_Store

# Logs
*.log

# Metro bundler cache
.expo/
.expo-shared/

# iOS
ios/build/
ios/Pods/
ios/*.xcworkspace
ios/*.lock
ios/*.xcodeproj/
ios/DerivedData/
ios/.env*
ios/.DS_Store

# Android
android/.gradle/
android/app/build/
android/.idea/
android/local.properties
android/.DS_Store
android/.env*

# React Native specific
*.bundle
*.keystore

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Firebase
firebase-debug.log

# Environment variables
.env
.env.*

# Temporary files
.tmp/
dump.rdb

# Misc
.vscode/
.idea/

